venv*
environments/*
__pycache__
*.log
*.py[cod]
migrations
.vscode
.DS_Store
*.db
.env
*.code-workspace
archival/*
*/tmp/*
*.db
*.db_test
*.db_log
*.db_test_log
databases/*
.data/
.test_data/
passwords.py

