matplotlib
alembic
click
cycler
Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
Pillow
pycparser
PyJWT
pyparsing
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
Werkzeug
WTForms
